#create-photo-form
  = form_for @photo, html: {multipart: true} do |f|
    .form-title= f.label :title
    .form-text= f.text_field :title, :placeholder => 'Enter title here'
    .form-image= f.file_field :image
    .leave-btn= f.submit

.back-btn= link_to "Back", root_path