- if current_user
  .add-btn= link_to "Add a photo", new_user_photo_path(current_user.id)
- if @photos.any?
  - @photos.each do |photo|
    #photo-view
      .photo-title= link_to photo.title, photo_path(photo)
      .photo-image= image_tag photo.image.url(:thumb)

      #likes
        = link_to "Like", photo_likes_path(photo), class: 'likes-link'
        %span.likes_count= photo.likes.count
        = 'like'.pluralize photo.likes.count

      #links
        .li-links-edit= link_to "Edit", edit_photo_path(photo)
        - if current_user && current_user.id == photo.user_id
          .li-links-delete= link_to "Delete", photo_path(photo), method: :delete
          .li-links-comment= link_to "Comment", new_photo_comment_path(photo)

      #photo-comms
        - if photo.comments.any?
          %ul
            - photo.comments.each do |comment|
              .comms
                = comment.thoughts

              -# if current_user && current_user.id == comment.user_id
                -#= link_to "Delete", photo_path(comment), method: :delete

        - else
          .comms No comments

- else
  %h1 No photos added!
